<figure class="support-button support-button-upper">
    <a href="/donate">
        <img src="/uploads/assets/support_upper.png" alt="Support Us!" title="Support Us!" width="100%">
    </a>
</figure>
