{% extends "_base" %}
{% set tag = craft.tags.title(tag).first() %}
{% set entries = craft.entries.relatedTo(tag).limit(null).order('dateCreated') %}

{% if not tag %}
    {% exit 404 %}
{% endif %}

{% block main_content %}

    {% if entries | length %}
        <section class="tagsPage">
            <h2 class="headingUnderline">{{ tag }}</h2>
            <ul class="articleList row">
                {{ macros.articleList(entries) }}
            </ul>
        </section>
    {% else %}
        <h2>No articles with this tag!</h2>
    {% endif %}

{% endblock %}
