{% extends "_base" %}

{% block main_content %}
    <section>
        <h2 class="headingUnderline">{{ entry.title }}</h2>
        {{ macros.outputMatrix(entry.articleMain) }}
    </section>
{% endblock %}
