{% extends "_base" %}
{% set entry = craft.entries.section('donate').first() %}

{% block container_type %}<div class="container">{% endblock %}

{% block main_block %}
    <div id="main-column" class='col-xs-12'>
        <main class='container-fluid main-full' id="page-donate">
            <div class='row'>
                <section>
                    {{ macros.outputMatrix(entry.articleMain) }}
                </section>
            </div>
        </main>
    </div>
{% endblock %}

{% block aside_block %}{% endblock %}
