{% set entry = craft.entries.section('advertisements').type('boxAds').order('RAND()').first() %}

{% if entry %}

<section class="paid-placement-box">
    <header>Advertisement</header>
    <div class="holder">
        <a href="{{ entry.adLink }}"><img src="{{ entry.adPicture.first.url }}" width="300px" height="300px"></a>
    </div>
</section>

{% endif %}
