<header id='main-header-title' class='title header-object'>
    <a href='/'>
        <span>The Dirtiest</span>
        <span>Well-known Secret</span>
    </a>
</header>

<div id='margo' class="header-object">
  <a href="/"><img src='/uploads/assets/margo.jpg' alt='harlot logo'></a>
</div>
