<header id='main-header-title' class='title header-object'>
    <a href='/'>
        <span>The Dirtiest</span>
        <span>Well-known Secret</span>
    </a>
</header>

<div id='margo' class="header-object">
  <a href="/"><img src='http://s3-us-west-2.amazonaws.com/harlot-media/margo.jpg' alt='harlot logo'></a>
</div>
