{% set entries = craft.entries.section('pages').level(2) %}

<div class="nav-container">
  <div id='nav-top-shadow' class='hide-small'><div></div></div>
  <nav>

    <button id="nav-menu-button" type="button" data-toggle="dropdown" class="nav-button" aria-controls='#nav-menu' aria-haspopup="true" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="nav-button" href="/">
      <i class="fa fa-home"></i>
    </a>

    <button type="button" class="nav-button" data-toggle="modal" data-target="#search_modal">
      <i class='fa fa-search'></i>
    </button>

    {% include 'partials/includes/_social_links.twig' %}

    <a class="nav-button" href="/rss">
      <i class="fa fa-rss"></i>
    </a>

    <div id="nav-menu">
      <ul>
        {% for entry in entries %}
          <li><a href='{{ entry.url }}'><span>
            {% if entry.linkTitle|length > 0 %}
                {{ entry.linkTitle }}
            {% else %}
                {{ entry.title }}
            {% endif %}
          </span></a></li>
        {% endfor %}
      </ul>
    </div>

  </nav>
  <div id='nav-side-shadow' class='hide-small'><div></div></div>
</div>
