{#
<div id='page-shadow-holder'>
    <div class="left">
        <div class='fade-top'></div>
        <div class='shadow'></div>
        <div class='fade-bottom'></div>
    </div>
    <div class="right">
        <div class='fade-top'></div>
        <div class='shadow'></div>
        <div class='fade-bottom'></div>
    </div>
</div>
#}
