<div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Search</h4>
      </div>
      <div class="modal-body">
        <form action="/search" style="display: flex">
          <input type="search" value="" name="search" class="input" required style="max-width: none; border-radius: 10px; margin-right: 10px; background-color: rgb(230, 230, 230);">
          <input type="submit" value="Go" id="search-go" class="button">
        </form>
      </div>
    </div>
  </div>
</div>
