<figure id="support-button-upper" class="support-button support-button-upper">
    <a href="/donate">
        <img src="http://s3-us-west-2.amazonaws.com/harlot-media/support_upper.png" alt="Support Us!" title="Support Us!" width="100%">
    </a>
</figure>
