{% import "_macros/_general_macros" as macros %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
    <script src="https://use.typekit.net/qdn3sat.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="home" href="{{ siteUrl }}" />
    <link rel="icon" href="/uploads/assets/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="/_assets/css/ss-social-circle.css" />
    <link rel="stylesheet" href="/_assets/css/main.css" />
    <meta name="google-site-verification" content="VPb-fmDxW5doFrZ-Xq6m2Bzy5HbP5-rCoPgJxa2nSnI" />
</head>

<body>
    <main>

        <div id="socialmedia">
            <span><a href="https://twitter.com/harlotmedia" target="_blank" title="Twitter"><i class="ss-icon">twitter</i></a></span>
            <span><a href="https://www.facebook.com/harlotmagazine/" target="_blank" title="Facebook"><i class="ss-icon">facebook</i></a></span>
            <span><a href="https://medium.com/@HARLOT" target="_blank" title="Medium"><i class="ss-icon ss-vscogrid"><span class="screenreader">Medium</span></i></a></span>
        </div>

        <h1 class="screenreader">In February 2016...we're gonna tell you the <em>dirtiest</em> little secret</h1>

        <div id="signupform">
            <form action="//media.us12.list-manage.com/subscribe/post?u=70817ba3a84cd67e1a211b42b&amp;id=3fc82e2358" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_70817ba3a84cd67e1a211b42b_3fc82e2358" tabindex="-1" value="">
                    </div>
                    <label for="mce-EMAIL">Subscribe to our mailing list</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </form>
            <p><strong>Harlot</strong> Magazine champions the fearless and salacious. We think intersectionality should be a riot. We are dedicated to elevating marginalized voices and popping every bubble we find.</p>
        </div>

        {% block content %}{% endblock %}

    </main>
</body>

</html>
