{% extends "_base" %}
{% set entries =  homepageArticles.articles %}
{% set _homePageTags = homepageTags.tagList.limit(null).find() %}
{% set _activeTags = craft.tags.handle('subjects').relatedTo(craft.entries.section('articles')).limit(null).find() %}
{% set tags = _homePageTags|intersect(_activeTags) %}

{% block main_content %}

    <section>
        <ul class="articleList row">
            {{ macros.articleItem(entries[0], true) }}
            {% for entry in entries[1:6] %}
                {{ macros.articleItem(entry) }}
            {% endfor %}
        </ul>
    </section>

    {% if tags|length > 0 %}
    <section class='articlesByTag'>
        <div class='heading'><span><strong>MORE TOPICS</strong></span></div>
        <ul class='content'>
        {% for tag in tags %}
            <li class='tag'>{{ macros.showTag(tag) }}</li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    <section>
        <ul class="articleList row">
            {% for entry in entries[7:] %}
                {{ macros.articleItem(entry) }}
            {% endfor %}
        </ul>
    </section>

{% endblock %}
